@mixin mediaBg() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin laptop() {
  @media (max-width: 1080px) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: 660px) {
    @content;
  }
}


@mixin mobile-s() {
  @media (max-width: 480px) {
    @content;
  }
}
